@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.intro-heading {
    text-align: center;
    margin: 1rem 0;
    font-size: 28px;
}

.container {
    width: 95%;
    max-width: 1070px;
    margin: auto;
}

.card {
    position: relative;
    min-height: 300px;
    background: gray;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card-1 {
    background-image: url("./assets/images/image-1.png");
}

.card-2 {
    background-image: url("./assets/images/image-2.png");
}

.card-3 {
    background-image: url("./assets/images/image-3.png");
}

.card-4 {
    background-image: url("./assets/images/image-4.png");
}

.bottom-title--container {
    display: none;
    position: absolute;
    width: 100%;
    height: 145px;
    left: 0;
    bottom: 0;
    background: linear-gradient(
        180.68deg,
        rgba(0, 0, 0, 0) -1%,
        rgba(0, 0, 0, 0.59) 48.1%,
        #000000 99.41%
    );
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

.bottom-title {
    position: absolute;
    width: 100%;
    bottom: 18px;
    font-size: 20px;
    text-align: center;
    padding: 0 0.5rem;
    transition: translate 0.3s ease-in-out;
}

.card-content {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 5%;
    background-color: #114a8dcc;
    color: #fff;
    transition: 0.5s ease-out;
    margin: auto;
    z-index: 2;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-title {
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transform: translateY(10px);
    margin-bottom: 0.4rem;
    padding: 0 1rem;
}

.content-para {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    opacity: 0;
    transform: translateY(10px);
    padding: 0 1rem;
}

.bottom-title span,
.content-title span {
    color: orange;
}

/* =============================== Media queries ============================== */

@media (min-width: 768px) {
    .intro-heading {
        font-size: 3rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
        height: 708px;
    }

    .card {
        margin-bottom: 0;
    }

    .content-title {
        font-size: 26px;
    }

    .bottom-title--container {
        display: block;
    }
}

@media (min-width: 1024px) {
    .container {
        gap: 48px;
    }
    .content-title {
        font-size: 32px;
    }
    .content-para {
        font-size: 20px;
        padding: 0 4rem;
    }
    .bottom-title {
        font-size: 28px;
    }
}

/* ================= For devices that allow hover ================ */
@media (hover: hover) {
    .card:hover .bottom-title--container {
        opacity: 0;
    }

    .card:hover .bottom-title {
        translate: 0% -10px;
    }

    .card:hover .card-content {
        width: 100%;
        height: 90%;
    }

    .card:hover .content-title {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.8s ease 0.5s, transform 0.3s ease 0.5s;
    }

    .card:hover .content-para {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.8s ease 0.6s, transform 0.3s ease 0.6s;
    }

    .bottom-title--container {
        display: block;
    }
}

/* ================= For devices that do not allow hover ================ */
@media (hover: none) {
    .card-content {
        height: 90%;
        width: 100%;
    }

    .card-content > * {
        opacity: 1;
    }

    .bottom-title--container {
        display: none;
    }
}
